{% for label, messages in app.flashes %}
	{%  for message in messages %}
		<div class="alert alert-{{ label }} alert-dismissible fade show mt-3" role="alert">
			{{ message }}
		</div>
	{% endfor %}
{% endfor %}
