<footer class="navbar-dark text-center py-3 mt-auto" role="contentinfo" style="background-color: #E0FFFF;">
    <div class="container">
        <p class="mb-0" style="color: #66563C">&copy; {{ "now"|date("Y") }} - Sortir V2</p>
        <p class="mb-0 text-muted">Développé avec Symfony et Bootstrap</p>
    </div>
</footer>