<footer class="bg-light text-center py-3 mt-auto">
    <div class="container">
        <p class="mb-0">&copy; {{ "now"|date("Y") }} - Sortir V2</p>
{#        <p class="mb-0">Développé avec Symfony et Bootstrap</p>#}
    </div>
</footer>