{% extends 'base.html.twig' %}


{% block title %}{{ parent() }} - Réinitialisation{% endblock %}

{% block body %}
            <h1 style="color: #66563C">Réinitialisez votre mot de passe</h1>

            {{ form_start(resetForm) }}
            {{ form_row(resetForm.plainPassword) }}
            <button class="btn btn-success mt-3 w-100">Réinitialiser</button>
            {{ form_end(resetForm) }}
{% endblock %}
