{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}New Group{% endblock %}

{% block body %}
    <h1 style="color: #66563C">Crée un nouveau groupe</h1>
    <section class="container my-4" style="background-color: #AEEBE7; padding: 20px; border-radius: 8px;">
        {{ include('group/_form.html.twig') }}

    </section>

{% endblock %}
