{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Création{% endblock %}

{% block body %}
    <h1 class="text-center mb-4" style="color: #66563C">Création utilisateur</h1>

    {{ include('user/_form.html.twig') }}

{% endblock %}
